//this rules additional for normalize.css ( https://github.com/necolas/normalize.css )


//zeroing
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


//buttons not border, background, outline
button {
  background-color: transparent;
  outline: none;
  border: none;
}
button::-moz-focus-inner,
a {
  border: 0 !important;
  outline: none!important;
}


//input placeholder not transparent
input::-webkit-input-placeholder {opacity: 1;}
input::-moz-placeholder          {opacity: 1;}/* Firefox 19+ */
input:-moz-placeholder           {opacity: 1;}/* Firefox 18- */
input:-ms-input-placeholder      {opacity: 1;}


//delete arrows on input type=number
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}