body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f3;
    height: 100vh;
    width: 100%;
    font-family: Segoe UI;
    font-style: normal;
    @media (max-width: 464px) {
        justify-content: flex-start;
    }
}

.pantone-colors {
    max-width: 640px;
    width: 100%;
    min-width: 464px;
    height: auto;
    background-color: #fff;
    &__checkboxes {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.08);
        height: 32px;
        &-item {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
            input {
                margin-right: 4px;
            }
        }
        &-item:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.08);
        }
    }
    &__top {
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin-left: 24px;
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height */
        color: #000000;
    }
    &__reset {
        display: flex;
        align-items: center;
        margin-right: 24px;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: right;
        color: #888888;
        cursor: pointer;
        i {
            margin-right: 4px;
            background-image: url(../img/reset.svg);
            display: inline-block;
            width: 18px;
            height: 18px;
            // transform: matrix(-1, 0, 0, 1, 0, 0);
        }
        &.acts {
            color: blue;
            i {
                background-image: url(../img/reset-b.svg);
            }
        }
    }
    &__table,
    &__table thead {
        display: block;
    }
    &__table {
        thead {

            .item-id {
                width: 10%;
                justify-content: center;
            }
            .item-name {
                width: 29%;
                &.hidden {
                    display: none;
                }
                input {
                    margin-left: 8px;
                }
            }
            .item-year {
                width: 12%;
                justify-content: center;
            }
            .item-color {
                width: 20%;
                input {
                    margin-left: 8px;
                }
            }
            .item-value {
                width: 27%;
                input {
                    margin-left: 8px;
                }
            }
        }
        tbody {
            width: 100%;
            display: block;
            .item-id {
                width: calc(10% - 16px);
                justify-content: flex-end;
                padding-right: 16px;
            }
            .item-name {
                padding-left: 8px;
                width: calc(29% - 8px);               
            }
            .item-name:first-letter {
                text-transform: uppercase;
            }
            .item-year {
                width: calc(12% - 16px);
                justify-content: flex-end;
                padding-right: 16px;
            }
            .item-color {
                padding-left: 8px;
                width: calc(20% - 8px);
            }
            .item-value {
                padding-left: 8px;
                width: calc(27% - 8px);
            }
        }
        tbody tr {
            height: 53px;
            width: 100%;
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }
        thead tr td,
        thead tr th {
            &.hidden {
                display: none;
            } 
        }
        tbody tr td {
            display: inline-flex;
            height: 53px;
            align-items: center;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: #000000;
            &.hidden {
                display: none;
            } 
        }
        tbody tr td span {
            margin-right: 4px;
            width: 16px;
            height: 16px;
            border-radius: 2px;
        }
    }
}